

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Servicios</title>
</head>
<body>
    <button class="btn-dark" >>Corte de Pelo</button>
    <button class="btn-info">Cejas</button>

</body>
</html>
